<?xml version="1.0" encoding="utf-8"?>
<!--
    SPDX-FileCopyrightText: 2023-2024 Andrew Gunnerson
    SPDX-License-Identifier: GPL-3.0-only
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="androidx.car.app.ACCESS_SURFACE" />
    <uses-permission android:name="androidx.car.app.NAVIGATION_TEMPLATES" />
    <uses-permission android:name="com.google.android.gms.permission.CAR_SPEED" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
    </queries>

    <application
        android:name="com.chiller3.mirrormobile.MainApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:enableOnBackInvokedCallback="true"
        android:memtagMode="sync"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MirrorMobile"
        tools:targetApi="tiramisu">
        <meta-data
            android:name="androidx.car.app.minCarApiLevel"
            android:value="7" />
        <meta-data
            android:name="com.google.android.gms.car.application"
            android:resource="@xml/automotive_app_desc" />

        <activity
            android:name="com.chiller3.mirrormobile.settings.SettingsActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.chiller3.mirrormobile.mirror.CaptureRequestActivity"
            android:exported="false"
            android:taskAffinity=""
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name="com.chiller3.mirrormobile.launcher.LauncherActivity"
            android:exported="false" />

        <activity
            android:name="com.chiller3.mirrormobile.launcher.LauncherConfigActivity"
            android:exported="false" />

        <service
            android:name="com.chiller3.mirrormobile.mirror.CaptureService"
            android:exported="false"
            android:foregroundServiceType="mediaProjection" />

        <service
            android:name="com.chiller3.mirrormobile.mirror.DisplayService"
            android:exported="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="androidx.car.app.CarAppService" />
                <category android:name="androidx.car.app.category.NAVIGATION" />
            </intent-filter>
        </service>
    </application>
</manifest>
